<h1>Comptroller Spending</h1>

<div id="chart-container-1">
  
</div>

<% content_for :js do %>
<script type="text/javascript" charset="utf-8">
var chart1; // globally available
$(document).ready(function() {
  $.getJSON('/data_view/by_month?year=2008', function(response){
	//$.getJSON('/data_view/by_year', function(response){
		if(response.status == 'ok'){
			var options = response.options;
			options.chart.renderTo = 'chart-container-1';
    	chart1 = new Highcharts.Chart(options);
		}
  });
});
</script>
<% end %>
