<h1>Comptroller Spending</h1>

<div id="charts">
  
</div>
<div id="filter_form">
  <div class="section" all="true">
    <label for="type_select">Type:</label>
    <select name="type_select" id="type_select" size="1">
    	<option value="category" selected="selected">Category</option>
    	<option value="vendor">Vendor</option>
    </select>
  </div>
  
  <div class="section" all="true">
    <label for="year_select">Year:</label>
    <select name="year_select" id="year_select" size="1">
    	<option value="2007">2007</option>
    	<option value="2008" selected="selected">2008</option>
    	<option value="2008">2009</option>
    </select>
  </div>

  <div class="section cats" type-category="true">
    <label for="category_select">Categories:</label><br />
    <select name="category_select" size="1">
      <option value="Travel">Travel</option>
      <option value="Supplies and Materials">Supplies and Materials</option>
      <option value="Salaries and Wages">Salaries and Wages</option>
      <option value="Repairs and Maintenance">Repairs and Maintenance</option>
      <option value="Rentals and Leases">Rentals and Leases</option>
      <option value="Public Assistance Payments">Public Assistance Payments</option>
      <option value="Professional Service and Fees">Professional Service and Fees</option>
      <option value="Printing and Reproduction">Printing and Reproduction</option>
      <option value="Other Expenditures">Other Expenditures</option>
      <option value="Intergovernmental Payments">Intergovernmental Payments</option>
    </select>
    <a class="add" href="#">Add another category</a>
  </div>
  <br />
  
  <div class="section vendors" type-vendor="true" style="display:none">
    Vendors:
    <input type="text" value="" id="vendor_search" /> Start typing to bring up suggestions
  </div>
  
  <input type="submit" name="create_chart" value="Create New Chart" id="create_chart">
</div>

<%= image_tag 'ajax-loader.gif', :id => 'loader' %>

<% content_for :js do %>
<script type="text/javascript" src="jquery.autocomplete.js"></script>
<script type="text/javascript" charset="utf-8">
var charts = [];
var chart_count = 0;
$(document).ready(function() {
  enable_input();
  $('#type_select').change(change_type);
  $('#filter_form .cats .add').click(add_category);
  // TODO: implement autosuggest server side
  // $('#vendor_search').autocomplete('/data_view/vendor_suggest');
  $('#create_chart').click(function(e){
    var url = '';
    var data = {};
    
    var type = $("#type_select option:selected").val();
    if(type == 'category'){
      data.year = $("#year_select option:selected").val();
      var cats = {}; // use object to avoid duplicates
      $('#filter_form .cats select[name=category_select] option:selected').each(function(i,obj){
        cats[obj.getAttribute('value')] = true;
      });
      data.cats = [];
      for(var cat in cats) data.cats.push(cat);
      
      url = '/data_view/'+type+'_by_month';
    }
    new_chart(url, data);
  });
});

function new_chart(url, data){
  data = data || {};
	disable_input();
	$.getJSON(url, data, function(response){
		if(response.status == 'ok'){
			var options = response.options;
			var chart_id = 'chart-container-'+chart_count;
			$('#charts').append($('<div id="'+chart_id+'">'));
			options.chart.renderTo = chart_id;
    	charts[chart_count] = new Highcharts.Chart(options);
    	chart_count += 1;
			enable_input();
		}
  });
}

function disable_input(){
	$('#loader').show();
	$('#create_chart').attr('disabled','disabled');
}

function enable_input(){
	$('#loader').hide();
	$('#create_chart').removeAttr('disabled');
}

function change_type(){
  var new_type = $('#type_select option:selected').val();
  $('#filter_form .section[all!=true]').hide();
  $('#filter_form .section[type-'+new_type+'=true]').show();
}

function add_category(){
  $(this).before('<br>');
  $(this).before($(this).prev().prev().clone());
}
</script>
<% end %>
