#filter_form{
  border:1px solid;
  padding:15px;
}

#filter_form .section{
  padding:10px 0;
}

#filter_form .section.cats, #filter_form .section.vendors{
  border: 1px solid;
  padding-left: 10px;
}

#filter_form a:visited{
  color:#0000ff;
}
#filter_form .vendor_search_label{
  width:70px;
  display:block;
  float:left;
}

#vendor_search{
  width:500px;
  float:left;
}

#vendor_suggest{
  background:#fff;
  border:1px solid;
  border-top:none;
  width:500px;
  padding:4px 2px;
  margin:0 0 10px 70px;
}
#vendor_suggest ul{
  padding:0;
  margin:0;
  list-style:none;
}
#vendor_suggest .jquery-autocomplete-selected-item{
  background:#E5ECF9;
}

#vendor_selected{
  
}

.clearfix{
  clear:both;
}
