<p>
  <b>Type:</b>
  <%=h @reduction.type %>
</p>

<p>
  <b>Value:</b>
  <%=h @reduction.value %>
</p>


<%= link_to 'Edit', edit_reduction_path(@reduction) %> |
<%= link_to 'Back', reductions_path %>
